<?xml version="1.0" encoding="UTF-8"?>

<config>    
    <modules>
        <Vlado_Demodule>
            <version>0.1.0</version>
        </Vlado_Demodule>
    </modules>
    
    <frontend>
        <routers>
            <demodule>
                <use>standard</use>
                <args>
                    <module>Vlado_Demodule</module>
                    <frontName>demodule</frontName>
                </args>
            </demodule>
        </routers>  
    </frontend>
    
</config>