<?xml version="1.0" encoding="UTF-8"?>

<config>    
    <modules>
        <Alanstormdotcom_Helloworld>
            <version>0.1.0</version>
        </Alanstormdotcom_Helloworld>
    </modules>
    <frontend>
        <routers>
        
            <!-- the <helloworld> tagname appears to be arbitrary, but by 
            convention is should match the frontName tag below-->
            <helloworld> 
                <use>standard</use>
                <args>
                    <module>Alanstormdotcom_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
            
            <soh> 
                <use>standard</use>
                <args>
                    <module>Alanstormdotcom_Helloworld</module>
                    <frontName>soh</frontName>
                </args>
            </soh>
        
        </routers>
    </frontend>
</config>